{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accessories</title>
</head>
<body>

    <h1>In here we have brought the best accessories from different companies! </h1>

    <img src="{% static 'images/afgsd.jpeg' %}" alt="">
    <img src="{% static 'images/aff.jpeg' %}" alt="">
    <img src="{% static 'images/afff.jpeg' %}" alt="">
    <img src="{% static 'images/afsd.jpeg' %}" alt="">
    <img src="{% static 'images/afsc.jpeg' %}" alt="">
    <img src="{% static 'images/afs.jpeg' %}" alt="">
    <img src="{% static 'images/afh.jpeg' %}" alt="">
    <img src="{% static 'images/akj.jpeg' %}" alt="">
    <img src="{% static 'images/alk.jpeg' %}" alt="">
    <img src="{% static 'images/kbv.jpeg' %}" alt="">
    <img src="{% static 'images/asd.jpeg' %}" alt="">
    
    
    
</body>
</html>