<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All</title>
</head>
<body>
    <h1>All you need is in here:</h1>
    <p>This page deals with all products which we offer for you!</p>

    
    <img src="{% static 'images/asd.jpeg' %}" alt="">
    <img src="{% static 'images/az.jpeg' %}" alt="">
    <img src="{% static 'images/azx.jpeg' %}" alt="">
    <img src="{% static 'images/avac.jpej' %}" alt="">
    <img src="{% static 'images/afh.jpeg' %}" alt="">
    <img src="{% static 'images/akj.jpeg' %}" alt="">
    <img src="{% static 'images/afs.jpeg' %}" alt="">
    <img src="{% static 'images/afsd.jpeg' %}" alt="">
    <img src="{% static 'images/agh.jpeg' %}" alt="">
    <img src="{% static 'images/ass.jpeg' %}" alt="">
    <img src="{% static 'images/an.jpeg' %}" alt="">
    <img src="{% static 'images/as.jpeg' %}" alt="">
    <img src="{% static 'images/afgsd.jpeg' %}" alt="">



    
</body>
</html>