<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my shop</title>
</head>
<body> 
    <h1>Here is especialised for your kids!!</h1>

    <img src="{% static 'images/as.jpeg' %}" alt="">
    <img src="{% static 'images/ass.jpeg' %}" alt="">
    <img src="{% static 'images/an.jpeg' %}" alt="">
    <img src="{% static 'images/ap.jpeg' %}" alt="">
    <img src="{% static 'images/ac.jpeg' %}" alt="">
    <img src="{% static 'images/ad.jpeg' %}" alt="">
    <img src="{% static 'images/ab.jpeg' %}" alt="">
    <img src="{% static 'images/aa.jpeg' %}" alt="">
    <img src="{% static 'images/al.jpeg' %}" alt="">
    <img src="{% static 'images/aw.jpeg' %}" alt="">
    <img src="{% static 'images/az.jpeg' %}" alt="">
    <img src="{% static 'images/aq.jpeg' %}" alt="">
    <img src="{% static 'images/aj.jpeg' %}" alt="">
    <img src="{% static 'images/ak.jpeg' %}" alt="">
    <img src="{% static 'images/ar.jpeg' %}" alt="">    
</body>
</html>