<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainpage</title>
    
</head>

<body>

    <p>This Is The Homepage Of Our Shop</p> <br><br>

    <a href="/products">Go to products page</a> <br><br>
    <a href="/all">go to all page</a>  <br><br>
    <a href="/men">go to men page</a>  <br><br>
    <a href="/women">go to women page</a>  <br><br>
    <a href="/boy">go ot boy page</a>  <br><br>
    <a href="/accessories">go to accessories page</a>   <br><br>

</body>

</html>