{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Men</title>
</head>
<body>
    <h1>There are all the best things for you gentlmem!!</h1>
    <p>in here we have collected the best clothes from differentcompanies for you gentlmem!!</p>

    <img src="{% static 'images/asd.jpeg' %}" alt="">
    <img src="{% static 'images/az.jpeg' %}" alt="">
    <img src="{% static 'images/akl.jpeg' %}" alt="">
    <img src="{% static 'images/ax.jpeg' %}" alt="">
    <img src="{% static 'images/aii.jpeg' %}" alt="">
    <img src="{% static 'images/aio.jpeg' %}" alt="">  
    <img src="{% static 'images/ao.jpeg' %}" alt="">
    <img src="{% static 'images/ay.jpeg' %}" alt="">
    <img src="{% static 'images/au.jpeg' %}" alt="">
    <img src="{% static 'images/auu.jpeg' %}" alt="">
    <img src="{% static 'images/axa.jpeg' %}" alt=""> 
     
</body>
</html>