<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>your shop</title>
</head>
<body>
    <h1>only for dear women!!</h1>
    <p>In this page we have offered for you beautifull women the best brands!!</p>


    <img src="{% static 'images/asaa.jpeg' %}" alt="">
    <img src="{% static 'images/azx.jpeg' %}" alt="">
    <img src="{% static 'images/ava.jpeg' %}" alt="">
    <img src="{% static 'images/avac.jpeg' %}" alt="">
    <img src="{% static 'images/art.jpeg' %}" alt="">
    <img src="{% static 'images/abb.jpeg' %}" alt="">
    <img src="{% static 'images/aaa.jpeg' %}" alt="">
    <img src="{% static 'images/aman.jpeg' %}" alt="">
        
</body>
</html>